<div class="container2">
    <img id="image" src="/tennis.jpg" width="193" height="300">
    <br>
    <label id ="label2" class="ml-4 my-2">Tennis Racket</label>
    <br>
    <button onclick="location.href = '/tennis';" id="tennis" class="btn btn-secondary ml-3"> View </button>
</div>